.write-course {
    display: flex;
}

.container-left {
    flex: 2;
    border-right: 1px solid #dfe3e6;
    margin-right: 20px;
}

.container-right {
    flex: 5;
}

.course-container {
    margin-top: 20px;
    margin-left: 20px;
}

.course-title {
    border: none;
    border-bottom: 1px solid #dfe3e6;
}

.course-date,
.course-chapter,
.course-lesson,
.course-img {
    margin-top: 20px;
}

.course-img {
    display: flex;
    justify-content: space-between;

    align-items: flex-start;
}

.course-img img {
    width: 160px;
    object-fit: cover;
}

.submit-btn {

    float: right;
    margin: 16px 0;

}
.ql-container{
    min-height: 400px;
}