.header-single img {
    width: 100%;
    height: 500px;
    object-fit: cover;

}

.single-container {
    position: relative;
}

.header-sub {
    background-color: #fff;
    width: 300px;
    height: max-content;
    position: absolute;
    right: 40px;
    top: 100px;
    border-radius: 24px;
    border: 1px solid #dfe3e6;

    z-index: 1;
}

.header-sub-wrapper {
    margin: 20px;
    width: calc(100% - 40px);
}

.header-sub-wrapper img {
    width: 100%;
    border-radius: 16px;
    border: 1px solid #dfe3e6;

}

.single-content {
    width: 70%;
    margin: 0 40px 40px 40px;

}

.class-container {
    border: 1px solid #dfe3e6;
    border-radius: 16px;

    margin-left: 8px;
    margin-right: -8px;


}

.class-wrapper {
    height: 100%;
    margin: 20px;
}

.class-wrapper .class-title {
    font-weight: bold;
    border-bottom: 1px solid #dfe3e6;
    padding-bottom: 16px;

}

.css-19kzrtu {
    padding: 0 !important;
}

.class-wrapper .student-info {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #dfe3e6;


}

.student-info p {
    margin: 0;
}

.class-header {
    display: flex;
    justify-content: space-between;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover {
    background-color: #fff !important;
    color: blue;
}

.css-13eg511-MuiButtonBase-root-MuiListItemButton-root:hover {
    color: blue;
    background-color: #fff !important;


 }
